{% extends 'base_pdf.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ public_dir }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ public_dir }}/css/bootstrap.min.css">

{% endblock %}

{% block style %}
    <style>
        html, body, .wrapper {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        table {
            width: 100%;

        }

        .wrapper {
            font-family: 'Open Sans';
        }

        header {
            overflow: hidden;
        }

        header .logo {
            float: left;
        }

        header .cambridge {
            float: right;

        }

        header .cambridge img {
            height: 50px;
            margin-top: 14px;
        }

        .info {
            margin: 0;
            padding: 0;
            border: solid 5px darkblue;
            height: 220mm;
        }

        .info article {
            margin: 0.5em;
        }

        .info article.footer {
            padding: 0;
        }

        h2.title {
            padding-top: 1em;
            text-align: center;
            text-transform: uppercase;
        }

        h3.title {
            font-size: 1.2em;
        }

        .box {
            margin-top: 1em;
        }

        .timetable {
            overflow: hidden;
        }

        .timetable .box.calendar {
            float: left;
            width: 49%;
        }

        .timetable .box.schedule {
            float: right;
            width: 49%;
        }

        .timetable .box p {
            font-size: 0.8em;
            margin: 0;
            padding: 0 0 0.5em 0;
        }

        .notes-wrapper {
            margin-top: 0.5em;
            height: 100px;
        }

        p.notes {
            margin-bottom: 0;
            font-size: 0.8em;
            font-style: italic;
        }

        p.notes::before {
            content: '*';
            padding-right: 0.5em;
        }


        .payment table thead td {
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
            padding-right: 1em;
            font-size: 0.8em;
        }

        .payment table tbody td {
            padding: 8px 0;
            border-bottom: solid 1px #BBB;
        }

        .payment table tr.separator {
            height: 5em;
        }

        .payment table tr.separator td {
            padding-top: 8px;
            vertical-align: top;
            margin-top: 5px;
            border-bottom: none;
        }

        .payment table td.title {
            font-weight: bold;
        }

        .payment table td.subtitle {
            text-align: right;
            font-style: italic;
        }

        .payment table td.reason {
            text-align: left;
            text-transform: lowercase;
            width: 55%;
        }

        .payment table td.reason::first-letter {
            text-transform: uppercase;
        }

        .payment table td.number {
            text-align: right;
            padding-right: 1em;
        }

        .footer {
            bottom: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 11px;
        }

        .footer .title {
            text-align: center;
            font-size: 13px;
            font-weight: bold;
        }

        .footer .line {
            margin-bottom: 0;
        }

        .footer .line strong {
            display: inline-block;
            padding-right: 1em;
        }

        .footer .line span {
            display: inline-block;
            padding-right: 1em;
        }

    </style>

{% endblock %}


{% block body %}
    <div class="wrapper">

        <header>
            <div class="logo">
                <img src="{{ assets_base }}/images/admin/logo_h_300.jpg"/>
            </div>
            <div class="cambridge">
                <img src="{{ assets_base }}/images/admin/cambridge_168.jpg"/>
            </div>
        </header>

        <section class="info">
            <h2 class="title">{{ course.name | truncate (35) }}</h2>

            <article class="timetable">
                <div class="box calendar">
                    <h3 class="title"><span class="fa fa-calendar" aria-hidden="true"></span> Calendario:</h3>
                    <div class="content">
                        <p>
                            Desde el <span class="date">{{ course.start | localizeddate('long', 'none') }}</span><br/>
                        </p>
                        <p>
                            Hasta el <span class="date">{{ course.end | localizeddate('long', 'none') }}</span></td>
                        </p>
                    </div>
                </div>

                <div class="box schedule">
                    <h3 class="title"><span class="fa fa-calendar" aria-hidden="true"></span> Horario:</h3>
                    <div class="content">
                        {% for timeSheet in course.schedule.toArray %}
                            <p>
                                <span>{{ timeSheet.dayOfWeek.value }}</span>
                                <span>de {{ timeSheet.start | date('H:i') }}h</span>
                                <span>a {{ timeSheet.end | date('H:i') }}h</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </article>

            <article class="payment">
                <div class="box payment">
                    <h3 class="title"><span class="fa fa-credit-card" aria-hidden="true"></span> Abonos:</h3>
                    <div class="content">
                        {% if is_monthly %}
                            {{ block('monthly_payment_table') }}
                            {{ block('monthly_payment_notes') }}
                        {% else %}
                            {{ block('single_payment_table') }}
                            {{ block('single_payment_notes') }}
                        {% endif %}
                    </div>
                </div>
            </article>
        </section>
        {{ block('footer') }}
    </div>
{% endblock %}


{% block monthly_payment_notes %}
    <div class="notes-wrapper">
        {% if startDate != null %}
            <p class="notes">Precios válidos para la incorporación al curso el {{ startDate | date('d/m/Y') }}</p>
        {% endif %}

        {% if reserve.enrollment.ofJobStatusType %}
            <p class="notes">Matrícula gratis</p>
        {% endif %}

        {% if monthly != null %}
            {% if monthly.ofJobStatusType %}
                <p class="notes">Descuento por situación laboral</p>
            {% endif %}

            {% if monthly.ofFamilyType %}
                <p class="notes">Descuento por miembros de la misma familia</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block monthly_payment_table %}
    <table>
        <thead>
        <tr>
            {% with {reason: '', price: 'precio', discount: 'descuento', total: 'total' } %}
                {{ block('row') }}
            {% endwith %}
        </tr>
        </thead>

        <tbody>
        <tr>
            <td class="title" colspan="4">Reserva del curso</td>
        </tr>
        <tr>
            {% with {reason: 'Matrícula', concept: reserve.enrollment } %}
                {{ block('concept') }}
            {% endwith %}
        </tr>
        <tr>
            {% with {reason: 'Material', concept: reserve.material } %}
                {{ block('concept') }}
            {% endwith %}
        </tr>
        <tr>
            {% set reason = 'Primera mensualidad (%s)' | format(_self.short_date(limits.start)) %}
            {% with {reason: reason, concept: reserve.first_month } %}
                {{ block('concept') }}
            {% endwith %}
        </tr>
        <tr>
            {% set reason = 'Última mensualidad (%s)' | format(_self.short_date(limits.end)) %}

            {% with {reason: reason, concept: reserve.last_month } %}
                {{ block('concept') }}
            {% endwith %}
        </tr>
        <tr class="separator">
            <td class="subtitle" colspan="3">Total reserva:</td>
            <td class="number">
                {{ _self.format_money(reserve.total) }}
            </td>
        </tr>

        {% if monthly != null %}
            <tr>
                <td class="title" colspan="4">Mensualidades</td>
            </tr>
            <tr>
                {% set start = _self.short_date(limits.start | date_modify('first day of next month')) %}
                {% set end = _self.short_date(course.end | date_modify('first day of previous month')) %}
                {% set reason = 'cada mes entre %s y %s' | format(start, end) %}

                {% with {reason: reason, concept: monthly } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>
        {% endif %}

        </tbody>
    </table>
{% endblock %}

{% block single_payment_notes %}
    <div class="notes-wrapper">
        {% if singlePaid %}
            <p class="notes">Pago único antes del {{ course.singlePayment.deadLine | date('d/m/Y') }}</p>
        {% else %}
            <p class="notes">Primer pago antes del {{ course.firstPayment.deadLine | date('d/m/Y') }}</p>
            <p class="notes">Segundo pago antes del {{ course.secondPayment.deadLine | date('d/m/Y') }}</p>
        {% endif %}


        {# {% if discount.applyJobStatusDiscount %} #}
        {# <p class="notes">Descuento por situación laboral</p> #}
        {# {% endif %} #}

        {# {% if discount.applyFamilyDiscount %} #}
        {# <p class="notes">Descuento por miembros de la misma familia</p> #}
        {# {% endif %} #}

    </div>
{% endblock %}


{% block single_payment_table %}
    <table>
        <thead>
        <tr>
            {% with {reason: '', price: 'precio', discount: 'descuento', total: 'total' } %}
                {{ block('row') }}
            {% endwith %}
        </tr>
        </thead>
        <tbody>

        {% if singlePaid %}
            <tr>
                {% with {reason: 'Pago único', concept: uniquePaid } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>
        {% else %}
            <tr>
                {% with {reason: 'Primer pago', concept: firstPaid } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>
            <tr>
                {% with {reason: 'Segundo pago', concept: secondPaid } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>
        {% endif %}


        </tbody>
    </table>
{% endblock %}
{% block row %}
    <td>{{ reason }}</td>
    <td>{{ price }}</td>
    <td>{{ discount }}</td>
    <td>{{ total }}</td>
{% endblock %}

{% block concept %}
    <td class="reason">{{ reason | raw }}</td>
    <td class="number">{{ _self.format_money(concept.price) }}</td>

    <td class="number">{{ _self.format_percent(concept.discount.toInt) }}</td>
    <td class="total number">{{ _self.format_money(concept.total) }}</td>
{% endblock %}

{% block footer %}
    <div class="footer">
        <h3 class="title">Academia Britannia</h3>
        <p class="line">
            <strong>Horario: </strong>
            <span>mañanas de {{ setting.morning.start | localizeddate('none', 'short') }} a {{ setting.morning.end | localizeddate('none', 'short') }} </span>
            {# <span>tardes de {{ setting.afternoon.start | localizeddate('none', 'short') }} a {{ setting.afternoon.end | localizeddate('none', 'short') }} </span> #}
        </p>
        <p class="line">
            <strong>Contacta con nosotros: </strong>
            <span><i class="fa fa-phone"></i> {{ setting.phone }}</span>
            <span><i class="fa fa-mobile"></i> {{ setting.mobile }}</span>
            <span><i class="fa fa-envelope"></i> {{ setting.mail }}</span>
        </p>
        <p class="line">
            <strong>Visitanos en: </strong>
            <span><i class="fa fa-facebook-f"></i> {{ setting.facebook }} </span>
            <span><i class="fa fa-twitter"></i> {{ setting.twitter }} </span>
            <span><i class="fa fa-info"></i> {{ setting.web }}</span>
        </p>
    </div>
{% endblock %}


{% macro format_money(price) %}
    {{ price.toFloat | number_format(2) }} €
{% endmacro %}

{% macro format_percent(price) %}
    {% if price != 0 %}
        {{ price }}%
    {% endif %}
{% endmacro %}

{% macro short_date(date) %}

    {% set month = date | date('m') %}
    {% set year = date | date('Y') %}

    {% if month == 1 %}{% set month_name = 'ene' %}{% endif %}
    {% if month == 2 %}{% set month_name = 'feb' %}{% endif %}
    {% if month == 3 %}{% set month_name = 'mar' %}{% endif %}
    {% if month == 4 %}{% set month_name = 'abr' %}{% endif %}
    {% if month == 5 %}{% set month_name = 'mayo' %}{% endif %}
    {% if month == 6 %}{% set month_name = 'jun' %}{% endif %}
    {% if month == 7 %}{% set month_name = 'jul' %}{% endif %}
    {% if month == 8 %}{% set month_name = 'ago' %}{% endif %}
    {% if month == 9 %}{% set month_name = 'sept' %}{% endif %}
    {% if month == 10 %}{% set month_name = 'oct' %}{% endif %}
    {% if month == 11 %}{% set month_name = 'nov' %}{% endif %}
    {% if month == 12 %}{% set month_name = 'dic' %}{% endif %}

    {{ '%s-%s' | format(month_name, year) | raw }}

{% endmacro %}
