{% extends 'base_pdf.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">

{% endblock %}

{% block style %}
    <style>
        body {
            padding: 10mm 15mm 0 15mm;
            font-family: 'Open Sans';
            font-size: 150%;
        }

        section {
            margin-top: 2em;
            overflow: auto;
        }

        h2.title {
            margin-top: 2em;
            text-align: center;
            text-transform: uppercase;
        }

        .calendar {
            margin-top: 1em;
        }

        .calendar .date, .schedule .date {
            text-transform: uppercase;
            font-size: 1.1em;
        }

        table {
            width: 100%;
        }

        table thead tr {
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
        }

        table, th, td {
            table-layout: auto;
        }

        tbody td {
            padding: 8px 0;
            border-bottom: solid 1px #BBB;
        }

        tr.separator {
            height: 5em;
        }

        tr.separator td {
            padding-top: 8px;
            vertical-align: top;
            margin-top: 5px;
            border-bottom: none;
        }

        td.title {
            font-weight: bold;
        }

        td.subtitle {
            text-align: right;
            font-style: italic;
        }

        td.reason {
            text-align: left;
            text-transform: lowercase;
            width: 60%;
        }

        td.reason::first-letter {
            text-transform: uppercase;
        }

        td.number {
            text-align: right;
        }

        .week {
            margin-top: 2em;
        }

        .week p.day span.day-name {
            display: inline-block;
            /*min-width: 20%;*!*/
            font-weight: bold;
        }

        p.notes {
            margin-bottom: 0;
            font-size: 0.8em;
            font-style: italic;
        }

        p.notes::before {
            content: '*';
            padding-right: 0.5em;
        }

    </style>

{% endblock %}


{% block body %}

    <img src="{{ asset_base }}/images/admin/logo_h_300.jpg"/>

    <h2 class="title">{{ course.name }}</h2>

    <section class="schedule">
        <h3><span class="fa fa-calendar" aria-hidden="true"></span> Horario:</h3>

        <p class="calendar">
            Desde el <span class="date">{{ course.startDate | localizeddate('long', 'none') }}</span>
            hasta el <span class="date">{{ course.endDate | localizeddate('long', 'none') }}</span>
        </p>

        <div class="week">
            {% set schedule = course.timeTable.schedule %}

            {% for lesson in  schedule %}
                <p class="day">
                    <span class="day-name">{{ lesson.dayOfWeek.value }}</span>
                    de <span class="date">{{ lesson.start | date('H:i') }}</span>
                    a <span class="date">{{ lesson.end | date('H:i') }}</span>
                </p>
            {% endfor %}

        </div>
    </section>

    <section class="payment">

        <h3><span class="fa fa-credit-card" aria-hidden="true"></span> Abonos:</h3>
        {{ block('notes') }}

        <table>
            <thead>
            <tr>
                {% with {reason: '', price: 'precio', discount: 'descuento', total: 'total' } %}
                    {{ block('row') }}
                {% endwith %}
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="title" colspan="4">Reserva del curso</td>
            </tr>
            <tr>
                {% with {reason: 'Matrícula', concept: reserve.enrollment } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>
            <tr>
                {% with {reason: 'Material', concept: reserve.material } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>

            <tr>
                {% set reason = 'Primera mensualidad (%s)' | format(_self.short_date(limits.start)) %}

                {% with {reason: reason, concept: reserve.first_month } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>

            <tr>
                {% set reason = 'Última mensualidad (%s)' | format(_self.short_date(limits.end)) %}

                {% with {reason: reason, concept: reserve.last_month } %}
                    {{ block('concept') }}
                {% endwith %}
            </tr>

            <tr class="separator">
                <td class="subtitle" colspan="3">Total reserva:</td>
                <td class="number">

                    {{ _self.format_money(reserve.total) }}
                </td>
            </tr>

            <tr>
                <td class="title" colspan="4">Mensualidades</td>
            </tr>

            <tr>

                {% set start = _self.short_date(course.startDate | date_modify('first day of next month')) %}
                {% set end = _self.short_date(course.endDate | date_modify('first day of previous month')) %}

                {% set reason = 'cada mes entre %s y %s' | format(start, end) %}

                {% with {reason: reason, concept: monthly } %}
                    {{ block('concept') }}
                {% endwith %}

            </tr>

            </tbody>
        </table>

    </section>
{% endblock %}

{% block row %}
    <td>{{ reason }}</td>
    <td>{{ price }}</td>
    <td>{{ discount }}</td>
    <td>{{ total }}</td>
{% endblock %}

{% block concept %}
    <td class="reason">{{ reason | raw }}</td>
    <td class="number">{{ _self.format_money(concept.price) }}</td>

    <td class="number">{{ _self.format_percent(concept.discount.toInt) }}</td>
    <td class="number">{{ _self.format_money(concept.total) }}</td>
{% endblock %}

{% block notes %}
    {% if reserve.enrollment.ofJobStatusType %}
        <p class="notes">Matrícula gratis por situación laboral</p>
    {% endif %}

    {% if monthly.ofJobStatusType %}
        <p class="notes">Descuento en mensualidades por situación laboral</p>
    {% endif %}

    {% if monthly.ofFamilyType %}
        <p class="notes">Descuento familiar en mensualidades</p>
    {% endif %}

{% endblock %}

{% macro format_money(price) %}
    {{ price.toFloat | number_format(2) }} €
{% endmacro %}

{% macro format_percent(price) %}
    {% if price != 0 %}
        {{ price }}%
    {% endif %}
{% endmacro %}

{% macro short_date(date) %}

    {% set month = date | date('m') %}
    {% set year = date | date('Y') %}

    {% if month == 1 %}{% set month_name = 'ene' %}{% endif %}
    {% if month == 2 %}{% set month_name = 'feb' %}{% endif %}
    {% if month == 3 %}{% set month_name = 'mar' %}{% endif %}
    {% if month == 4 %}{% set month_name = 'abr' %}{% endif %}
    {% if month == 5 %}{% set month_name = 'mayo' %}{% endif %}
    {% if month == 6 %}{% set month_name = 'jun' %}{% endif %}
    {% if month == 7 %}{% set month_name = 'jul' %}{% endif %}
    {% if month == 8 %}{% set month_name = 'ago' %}{% endif %}
    {% if month == 9 %}{% set month_name = 'sept' %}{% endif %}
    {% if month == 10 %}{% set month_name = 'oct' %}{% endif %}
    {% if month == 11 %}{% set month_name = 'nov' %}{% endif %}
    {% if month == 12 %}{% set month_name = 'dic' %}{% endif %}

    {{ '%s-%s' | format(month_name, year) | raw }}

{% endmacro %}
