{% extends 'admin/report/student_registration_form.html.twig' %}

{# {% block style %} #}
{# {{ parent() }} #}
{# <style> #}
{# .page { #}
{# margin: auto; #}
{# width: 997.033px; #}
{# height: 1561px; #}
{# } #}

{# </style> #}

{# {% endblock %} #}

{% block body %}

    {% set words = setting.generalConsiderationsClause | split(' ') %}
    {% set sections = words|batch(800) %}

    {% set total = sections|length + 1 %}

    {% with {page:1, total: total} %} {{ block('faqs') }} {% endwith %}

    {% for section in sections %}
        {% set page = 2 + loop.index0 %}
        {% with {page:page, total:total, section:section, target:'student' } %} {{ block('general_considerations') }} {% endwith %}
    {% endfor %}

{% endblock %}

{% block faqs %}
    <div class="page">
        <table>
            <tr>
                <td colspan="4">
                    {{ block('printed_date') }}
                    <div class="num-of-page">
                        {{ _self.title(student, page, total) }}
                    </div>
                </td>
            </tr>
            <tr class="header">
                <td colspan="1" class="quarter-col">
                    {{ block('logo') }}
                </td>
                <td colspan="3">
                    <div class="title-box">
                        <span class="name">PREGUNTAS FRECUENTES</span>
                        <span class="type">Ejemplar para el Alumno</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="lopd">
                    <div class="field">
                        {{ setting.faqs | raw }}
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="4" class="label-to-right">
                    &nbsp;
                </td>

            </tr>

        </table>
    </div>
{% endblock %}

