{% block attachment_widget %}
    <div class="row">
        {{ form_widget(form.path) }}
        <div class="col-md-6">
            {{ form_row(form.description) }}
        </div>
        <div class="col-md-2">
            <label class="btn btn-primary">
                <i class="fa fa-upload"></i>
                Upload {{ form_widget(form.upload, {attr: {'class': 'hidden' }}) }}
            </label>
        </div>

        <div class="col-md-3">
            {% set href = href | default('') %}
            {% set anchor = '' %}
            {% set hidden = 'hidden' %}
            {% if info is defined %}
                {% set anchor = 'Download (%s)' | format(info.humanReadableSize) %}
                {% set hidden = '' %}
            {% endif %}

            <a id="{{ id }}-download-link" href="{{ href }}" target="_blank"
               class="btn btn-success download {{ hidden }}">
                <i class="fa fa-download"></i>
                {{ anchor }}
            </a>
        </div>

        <script type="application/javascript">
            $(function () {
                $('#{{ form.upload.vars.id }}').on('change', function () {

                    var fd = new FormData();
                    var files = $(this)[0].files[0];
                    fd.append('file', files);

                    if (files.size > 2048000) {
                        alert('este archivo es demasiado grande (2Mb máximo)');
                        return;
                    }

                    if (files.type !== 'application/pdf') {
                        alert('Tipo incorrecto (solo pdf)');
                        return;
                    }

                    $.ajax({
                        url: '{{ path('attachment_upload') }}',
                        type: 'post',
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                $('#{{ form.path.vars.id }}').val(response.path);
                                var ext = String(response.ext).toUpperCase();
                                var text = `Download (${response.size})`

                                $('#{{ form.upload.vars.id }}').val('');

                                $('#{{ id }}-download-link').text(text)
                                $('#{{ id }}-download-link').removeClass('hidden')
                                $('#{{ id }}-download-link').attr('href', '{{ path('attachment_download') }}/' + response.path)

                            } else {
                                alert("Error al subir el archivo: " + response.message);
                            }
                        },
                        error: function (a, b, c) {
                            alert('error al subir el archivo');
                        }
                    });
                });
            });
        </script>

    </div>

{% endblock %}
