{% block books_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block teacher_has_courses_widget %}
    {{ block('multiselect') }}
{% endblock %}


{% block course_interval_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.end) }}
        </div>

    </div>
{% endblock %}


{% block time_sheet_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.dayOfWeek) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.classroomId) }}
        </div>
    </div>
{% endblock %}

{% block job_discount_widget %}
    <div class="row discount">
        <div class="col-md-3">
            <span class="status"> {{ status.value }} </span>
        </div>

        <div class="col-md-3">
            {{ form_row(form.discount) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.freeEnrollment) }}
        </div>
    </div>
{% endblock %}

{% block time_table_widget %}
    {% if form.locked is defined %}
        {{ form_row(form.locked, {widget: '#' ~ id ~ '-wrapper'}) }}
    {% endif %}

    <div id="{{ id }}-wrapper">
        <div class="col-md-12" style="margin-top: 5em">
            <legend class="control-label required">
                Calendario
            </legend>
        </div>
        <div class="col-md-4 col-md-offset-1">
            {{ form_row(form.start) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.end) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.schedule) }}
        </div>
    </div>

{% endblock %}


{% block assessment_widget %}
    {% if form.locked is defined %}
        {{ form_row(form.locked, {widget: id ~ '-wrapper'}) }}
    {% endif %}

    <div id="{{ id }}-wrapper" class="row unit_definition">

        <div class="col-md-3">
            {{ form_row(form.diagnostic) }}
        </div>
        {% if is_school %}
        <div class="col-md-3">
            {{ form_row(form.numOfTerms) }}
        </div>
        {% endif %}
        {% if is_adult %}
        <div class="col-md-3">
            {{ form_row(form.final) }}
        </div>
        {% endif %}

        <div class="col-md-12">
            <legend class="control-label">
                Destrezas
            </legend>
            {{ form_row(form.skills) }}
        </div>

        <div class="col-md-12">
            <legend class="control-label">
                Otras destrezas
            </legend>
            {{ form_row(form.extraSkills) }}
        </div>
    </div>

{% endblock %}

{% block pass_list_widget %}
    <div id="{{ id }}-wrapper">
        {{ form_row(form.passes) }}
    </div>
{% endblock %}

{% block pass_widget %}
    {% set attr = {
        'data-pass': 'hours',
        'data-lessons': '.pass_lesson',
        'data-target': '.left_time p.left',
        'data-start-time': '.start_time input',
        'data-end-time': '.end_time input',
    } %}

    <div id="{{ id }}"
         class="row pass_widget"
         data-pass="hours"
         data-hours="#{{ form.hours.vars.id }}"
         data-lessons=".pass_lesson"
         data-target=".left_time p.left"
         data-start-time=".start_time input"
         data-end-time=".end_time input">

        <div class="col-md-3">
            {{ form_row(form.hours) }}
        </div>
        <div class="col-md-3">
            {% set attr = {
                'data-pass': 'date',
                'data-target': '#'~form.end.vars.id,
            } %}

            {{ form_row(form.start, {'attr': attr}) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>

        <div class="col-md-3">
            <div class="left_time">
                <label>Quedan:</label>
                <p class="left"></p>
            </div>
        </div>

        <div class="col-md-12">
            <label>Lecciones: </label>
            {{ form_widget(form.lessons) }}
        </div>
    </div>
{% endblock %}

{% block pass_lesson_widget %}

    <div class="row pass_lesson">
        <div class="col-md-3 day">
            {{ form_row(form.day) }}
        </div>
        <div class="col-md-3 start_time">
            {{ form_row(form.startTime) }}
        </div>

        <div class="col-md-3 end_time">
            {{ form_row(form.endTime) }}
        </div>

        <div class="col-md-3 classroom">
            {{ form_row(form.classroomId) }}
        </div>
    </div>

{% endblock %}

{% block enrollment_payment_widget %}

    <div class="enrollment_payment">
        <div style="float: left">
            <div class="input-group">
                {{ form_widget(form) }}
                <span class="input-group-addon"><span class="fa fa-euro"></span></span>
            </div>
        </div>
        {% if show_unlock %}
            <div style="float: left; padding-left: 0.5em">
                <span class="btn btn-link"
                      data-locked-enrollment="#{{ form.vars.id }}">
                    Desbloquear
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}
