{% block books_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block course_has_students_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block teacher_has_courses_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block teachers_widget %}
    {{ block('multiselect') }}
{% endblock %}


{% block course_interval_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.end) }}
        </div>

    </div>
{% endblock %}


{% block time_sheet_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.dayOfWeek) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.classroomId) }}
        </div>
    </div>
{% endblock %}

{% block attendance_widget %}
    <div class="row">
        <div class="col-md-3">
            <p class="fullName">{{ student.fullName }}</p>
        </div>
        <div class="col-md-1 missed">
            {{ form_row(form.missed) }}
        </div>

        <div class="col-md-3 reason">
            {{ form_row(form.reason) }}
        </div>

        <script>
            $(function () {
                var reason = $('#{{ form.reason.vars.id }}').parents('.form-group:first');

                $('#{{ form.missed.vars.id }}').change(function () {
                    if ($(this).prop('checked')) {
                        reason.show()
                    } else {
                        reason.hide()
                    }
                })

                if ($('#{{ form.missed.vars.id }}').prop('checked')) {
                    reason.show()
                } else {
                    reason.hide()
                }
            })
        </script>

    </div>
{% endblock %}


{% block attendance_toggle_widget %}
    {% set checked = '' %}

    {% if value == "1" %}
        {% set checked = 'checked' %}
    {% endif %}

    <input id="{{ id }}" name="{{ full_name }}" {{ checked }} type="checkbox" data-toggle="toggle" data-on="Falta"
           data-off="Asiste"
           data-onstyle="danger" data-offstyle="success">

{% endblock %}

{% block job_discount_widget %}
    <div class="row discount">
        <div class="col-md-3">
            <span class="status"> {{ status.value }} </span>
        </div>

        <div class="col-md-3">
            {{ form_row(form.discount) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.freeEnrollment) }}
        </div>
    </div>
{% endblock %}

{% block time_table_widget %}
    {% if form.locked is defined %}
        {{ form_row(form.locked, {widget: id ~ '-wrapper'}) }}
    {% endif %}

    <div id="{{ id }}-wrapper">
        <div class="col-md-12" style="margin-top: 5em">
            <legend class="control-label required">
                Calendario
            </legend>
        </div>
        <div class="col-md-4 col-md-offset-1">
            {{ form_row(form.start) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.end) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.schedule) }}
        </div>
    </div>

{% endblock %}


{% block assessment_widget %}
    {% if form.locked is defined %}
        {{ form_row(form.locked, {widget: id ~ '-wrapper'}) }}
    {% endif %}

    <div id="{{ id }}-wrapper" class="row unit_definition">

        <div class="col-md-3">
            {{ form_row(form.numOfTerms) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.diagnostic) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.final) }}
        </div>
        <div class="col-md-12">
            <legend class="control-label">
                Destrezas
            </legend>
            {{ form_row(form.skills) }}
        </div>

        <div class="col-md-12">
            <legend class="control-label">
                Otras destrezas
            </legend>
            {{ form_row(form.extraSkills) }}
        </div>
    </div>

{% endblock %}

{% block pass_list_widget %}
    {#    {% if form.locked is defined %}#}
    {#        {{ form_row(form.locked, {widget: id ~ '-wrapper'}) }}#}
    {#    {% endif %}#}

    {#    style="margin-top: 5em" data-locked-id="{{ form.locked.vars.id }}"#}
    <div id="{{ id }}-wrapper">
        {{ form_row(form.passes) }}
    </div>
{% endblock %}

{% block pass_widget %}

    <div id="{{ id }}" class="row pass_widget">
        <div class="col-md-3">
            {{ form_row(form.hours) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.start) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>

        <div class="col-md-3">
            <div class="left_time">
                <label>Quedan:</label>
                <p class="left"></p>
            </div>
        </div>

        <div class="col-md-12">
            <label>Lecciones: </label>
            {{ form_widget(form.lessons) }}
        </div>
    </div>

    <script type="application/javascript">
        $(function () {
            var update = function () {
                var total = $('#{{ form.hours.vars.id }} :selected').text();
                var total = parseInt(total) * 60;

                var lessons = $('#{{ id }}').find('.pass_lesson');
                var label = $('#{{ id }}').find('.left_time p.left');

                var consumed = 0;
                lessons.each2(function () {
                    var start = $(this).find('.start_time input');
                    var end = $(this).find('.end_time input');

                    var startTime = moment(start.val(), 'HH:mm');
                    var endTime = moment(end.val(), 'HH:mm');

                    consumed += moment.duration(endTime.diff(startTime)).asMinutes();
                })

                var left = total - consumed;
                var hours = parseInt(left / 60);
                var minutes = parseInt(left % 60);
                var formattedLeft = moment(hours + ':' + minutes, 'HH:mm').format('HH:mm');


                if (left > 0 && left <= 60) {
                    label.addClass('warning')
                }
                if (left < 0) {
                    label.addClass('danger')
                    formattedLeft = '-' + formattedLeft
                }

                label.text(formattedLeft);
            }

            update();

            var locked_id = $('#{{ id }}').parents('[data-locked-id]').data('locked-id');
            var locked = $('#' + locked_id);
            locked.trigger('change');
        })

    </script>


{% endblock %}


{% block pass_lesson_widget %}

    <div class="row pass_lesson">
        <div class="col-md-3 day">
            {{ form_row(form.day) }}
        </div>
        <div class="col-md-3 start_time">
            {{ form_row(form.startTime) }}
        </div>

        <div class="col-md-3 end_time">
            {{ form_row(form.endTime) }}
        </div>

        <div class="col-md-3 classroom">
            {{ form_row(form.classroomId) }}
        </div>
    </div>

{% endblock %}

{% block enrollment_payment_widget %}

    <div class="enrollment_payment">
        <div style="float: left">
            <div class="input-group">
                {{ form_widget(form) }}
                <span class="input-group-addon"><span class="fa fa-euro"></span></span>
            </div>
        </div>
        {% if show_unlock %}
            <div style="float: left; padding-left: 0.5em">
                <span class="btn btn-link">Desbloquear</span>
            </div>
        {% endif %}
    </div>
    <script type="application/javascript">
        $(function () {
            var el = $('#{{ id }}');

            var update = function () {

                if ($(el).attr('readonly') === 'readonly') {
                    $(el).attr('readonly', false);
                    $(this).text('Bloquear')
                } else {
                    $(el).attr('readonly', 'readonly');
                    $(this).text('Desbloquear')
                }
            };

            $('.enrollment_payment .btn').on('click', update);
        })
    </script>
{% endblock %}
