{% block course_information_widget %}
    <div id="tab1" class="row">
        <div class="col-md-12 course_information student">
            <div class="col-md-12">
                <h2>Alumno</h2>
            </div>

            <div class="col-md-3">
                {{ form_row(form.selected) }}
                {{ form_row(form.familyOrder) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.jobStatus) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.freeEnrollment) }}
            </div>
        </div>

        <div class="col-md-12 course_information start_date">
            <div class="col-md-12">
                <h2>Incorporación</h2>
            </div>

            <div class="col-md-2">
                {% set attr = {
                    'data-course-information': 'date',
                    'data-endpoint': url,
                    'data-first-month': '#'~form.firstMonth.vars.id,
                    'data-first-month-desc': '.start_price .info',
                    'data-last-month': '#'~form.lastMonth.vars.id,
                    'data-last-month-desc': '.end_price .info'
                } %}

                {{ form_row(form.startDate, {'attr': attr}) }}
            </div>
            <div class="col-md-2 price start_price">
                {{ form_row(form.firstMonth) }}
                <span class="info">{{ first_month_description }}</span>
            </div>
            <div class="col-md-2 price end_price">
                {{ form_row(form.lastMonth) }}
                <span class="info">{{ last_month_description }}</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block  course_marks_widget %}
    <div id="tab2" class="row course_mark">
        <div class="col-md-12">
            <div class="col-md-2">
                {{ form_row(form.selected) }}

                {% set attr = {
                    'data-term': 'date',
                    'data-url': url,
                    'data-start': '#%s' | format(form.start.vars.id),
                    'data-end': '#%s' | format(form.end.vars.id)
                } %}

                {{ form_row(form.termName, {'attr': attr}) }}
            </div>

            <div class="col-md-4">
                <div class="col-md-6 no-padding">
                    {{ form_row(form.start) }}
                </div>
                <div class="col-md-6 no-padding">
                    {{ form_row(form.end) }}
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="col-md-12">
            {{ form_row(form.students) }}
        </div>
    </div>
{% endblock %}

