{% block course_information_widget %}
    <div id="tab1" class="row">
        <div class="col-md-12 course_information student">
            <div class="col-md-12">
                <h2>Alumno</h2>
            </div>

            <div class="col-md-3">
                {{ form_row(form.selected) }}
                {{ form_row(form.familyOrder) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.jobStatus) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.freeEnrollment) }}
            </div>
        </div>

        <div class="col-md-12 course_information start_date">
            <div class="col-md-12">
                <h2>Incorporación</h2>
            </div>

            <div class="col-md-2">
                {{ form_row(form.startDate) }}
            </div>
            <div class="col-md-2 price start_price">
                {{ form_row(form.firstMonth) }}
                <span class="info">{{ first_month_description }}</span>
            </div>
            <div class="col-md-2 price end_price">
                {{ form_row(form.lastMonth) }}
                <span class="info">{{ last_month_description }}</span>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(function () {
            let date = $('#dp_{{ form.startDate.vars.id }}');
            let update = function () {

                let first_month = $('#{{ form.firstMonth.vars.id }}');
                let first_month_desc = $('.start_price .info');

                let last_month = $('#{{ form.lastMonth.vars.id }}');
                let last_month_desc = $('.end_price .info');

                $.ajax({
                    type: 'POST',
                    url: '{{ url }}',
                    data: {
                        'startDate': $(this).find('input').val()
                    },
                    dataType: "json",
                    success: function (data) {
                        $(first_month).val(data.first_month_price)
                        $(first_month_desc).text(data.first_month_description)

                        $(last_month).val(data.last_month_price)
                        $(last_month_desc).text(data.last_month_description)
                    }
                });
            }

            $(date).change(update);
        })


    </script>

{% endblock %}

{% block  course_marks_widget %}
    <div id="tab2" class="row course_mark">
        <div class="col-md-4">
            <div id="term" class="col-md-12">
                {{ form_row(form.selected) }}
                {{ form_row(form.termName) }}
            </div>

            <div id="range" class="col-md-12 no-padding">

                <div id="range-start" class="col-md-6">
                    {{ form_row(form.start) }}
                </div>
                <div id="range-end" class="col-md-6">
                    {{ form_row(form.end) }}
                </div>
            </div>
        </div>

        <div class="col-md-8">
            {{ form_row(form.students) }}
        </div>


        <script type="application/javascript">
            $(function () {
                let start = $('#range-start input');
                let end = $('#range-end input');

                let update = function () {
                    $.ajax({
                        type: 'POST',
                        url: '{{ url }}',
                        data: {
                            'term': $(this).val()
                        },
                        dataType: "json",
                        success: function (data) {
                            start.val(data.start)
                            end.val(data.end)
                        }
                    });
                }

                $('#term select').on('change', update)
                $('#term select').trigger('change')
            })

        </script>
    </div>
{% endblock %}

{#{% block choose_student_list_widget %}#}
{#    {% for item in form %}#}

{#    {% endfor %}#}
{#{% endblock %}#}



{% block choose_student_row %}

    {% set path =  student.photo.path | default('shape.jpg') %}
    {% set src = photo_uploader.downloadUrl(path) %}

    <div class="cell-wrapper cell-wrapper-mini">
        <div title="{{ student.name }}" class="cell student-cell active">
            <p class="cell-title">
                {{ student.fullName.reversedMode | truncate(23) }}
            </p>

            <img class="cell-image" src="{{ src }}"/>

            <div class="cell-alert">
                {% if student.alert.isAlert %}
                    <span data-toggle="popover"
                          title="Cuidado"
                          data-content="{{ student.alert.description | raw }}"
                          data-trigger="hover"
                          data-html="true"
                          data-placement="bottom"
                          class="alert-msg fa fa-exclamation-triangle">
                    </span>

                {% endif %}

                {% if student.termsOfUseImageRigths == false %}
                    <span data-toggle="popover"
                          title="Cuidado"
                          data-content="No ha aceptado los derechos de imagen"
                          data-trigger="hover"
                          data-placement="bottom"
                          class="alert-msg fa fa-user-secret">
                    </span>
                {% endif %}
            </div>
            {{ form_widget(form) }}
        </div>

    </div>
{% endblock %}
