{% block toggle_widget %}
    {% set checked = '' %}

    {% if value == "1" %}
        {% set checked = 'checked' %}
    {% endif %}

    <input id="{{ id }}" name="{{ full_name }}" {{ checked }} type="checkbox" data-toggle="toggle"
           value="yes"
           data-width="{{ width }}"
           data-height="{{ height }}"
           data-on="{{ on_text }}"
           data-off="{{ off_text }}"
           data-onstyle="{{ on_style }}"
           data-offstyle="{{ off_style }}"
    >
{% endblock %}

{% block multiselect_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block multiselect %}
    {{ form_widget(form, {'attr': {'data-multiselect': 'multiselect'}}) }}
{% endblock %}

{% block counter_widget %}
    <div class="counter counter-wrapper">
        {% set attr = {
            'class': 'counter-area',
            'data-template':'counter',
            'data-label':'.counter-info'
        } %}

        {{ form_widget(form, {'attr': attr}) }}
        <p class="counter-info"></p>
    </div>
{% endblock %}

{% block time_range_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.start) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.end) }}
        </div>
    </div>

    {#    <div class="counter counter-wrapper">#}
    {#        {% set attr = {#}
    {#            'class': 'counter-area',#}
    {#            'data-template':'counter',#}
    {#            'data-label':'.counter-info'#}
    {#        } %}#}

    {#        {{ form_widget(form, {'attr': attr}) }}#}
    {#        <p class="counter-info"></p>#}
    {#    </div>#}
{% endblock %}


