{% block job_widget %}

    <div class="col-md-4 no-padding">
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form.name) }}
    </div>

{% endblock %}


{% block city_address_widget %}

    <div class="col-md-8 no-padding">
        {{ form_row(form.city) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.province) }}
    </div>

{% endblock %}


{% block payment_widget %}

    <script>
        {% autoescape 'js' %}

        jQuery(function ($) {
            $('#sonata-ba-field-container-{{ id }}')
                .toggle_field({
                    hide_values: ['CASH'],
                    children: '.bank_account'
                })
        })
        {% endautoescape %}
    </script>

    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.mode, {legend: true}) }}
        </div>
    </div>

    <div class="row col-md-12 bank_account">
        {{ form_row(form.account, {legend: true}) }}
    </div>


{% endblock %}

{% block bank_account_widget %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.titular) }}
        </div>
    </div>

    <legend>Nº de cuenta</legend>
    <div class="row">
        <div class="col-md-9">
            {{ form_row(form.iban) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.number) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.cityAddress) }}
        </div>
    </div>


{% endblock %}


{% block other_academy_widget %}

    <script>
        {% autoescape 'js' %}

        jQuery(function ($) {
            $('#sonata-ba-field-container-{{ id }}')
                .toggle_field({
                    hide_values: [''],
                    children: '.numOfYears'
                })
        })
        {% endautoescape %}
    </script>


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.academy) }}
        </div>

        <div class="col-md-6 numOfYears">
            {{ form_row(form.numOfYears) }}
        </div>
    </div>
{% endblock %}

{% block course_interval_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.end) }}
        </div>

    </div>
{% endblock %}


{% block time_sheet_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.dayOfWeek) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.classroomId) }}
        </div>
    </div>
{% endblock %}

{% block attendance_widget %}
    <div class="row">
        <div class="col-md-3">
            <p class="fullName">{{ student.fullName }}</p>
        </div>
        <div class="col-md-1 missed">
            {{ form_row(form.missed) }}
        </div>

        <div class="col-md-3 reason">
            {{ form_row(form.reason) }}
        </div>

        <script>
            $(function () {
                var reason = $('#{{ form.reason.vars.id }}').parents('.form-group:first');

                $('#{{ form.missed.vars.id }}').change(function () {
                    if ($(this).prop('checked')) {
                        reason.show()
                    } else {
                        reason.hide()
                    }
                })

                if ($('#{{ form.missed.vars.id }}').prop('checked')) {
                    reason.show()
                } else {
                    reason.hide()
                }
            })
        </script>

    </div>
{% endblock %}


{% block attendance_toggle_widget %}
    {% set checked = '' %}

    {% if value == "1" %}
        {% set checked = 'checked' %}
    {% endif %}

    <input id="{{ id }}" name="{{ full_name }}" {{ checked }} type="checkbox" data-toggle="toggle" data-on="Falta"
           data-off="Asiste"
           data-onstyle="danger" data-offstyle="success">

{% endblock %}

{% block toggle_widget %}
    {% set checked = '' %}

    {% if value == "1" %}
        {% set checked = 'checked' %}
    {% endif %}

    <input id="{{ id }}" name="{{ full_name }}" {{ checked }} type="checkbox" data-toggle="toggle"
           value="yes"
           data-width="{{ width }}"
           data-height="{{ height }}"
           data-on="{{ on_text }}"
           data-off="{{ off_text }}"
           data-onstyle="{{ on_style }}"
           data-offstyle="{{ off_style }}"
    >

{% endblock %}


{% block discount_widget %}
    <div class="row discount">
        <div class="col-md-3">
            <span class="status"> {{ status.value }} </span>
        </div>

        <div class="col-md-2">
            {{ form_row(form.discount) }}
        </div>

        <div class="col-md-7">
            {{ form_row(form.freeEnrollment) }}
        </div>
    </div>

{% endblock %}



{% block course_information_widget %}

    <h1>Información de Cursos</h1>

    <div class="row course_information course">

        <div class="col-md-4">
            <h2>Curso</h2>
            {{ form_row(form.course) }}
        </div>
    </div>

    <div class="row course_information student">
        <div class="col-md-12">
            <h2>Alumno</h2>
        </div>

        <div class="col-md-3">
            {{ form_row(form.familyOrder) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.jobStatus) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.freeEnrollment) }}
        </div>
    </div>

    <div class="row course_information start_date">
        <div class="col-md-12">
            <h2>Incorporación</h2>
        </div>
        <div class="col-md-6">
            {{ form_row(form.startDate) }}
        </div>
    </div>

{% endblock %}

{% block locked_widget %}

    <div class="row">
        <div class="col-md-8 col-md-offset-4" id="{{ id }}-wrapper">
            <div class="pull-right">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            var toggle = function (el) {
                var value = $(el).prop('value')
                var parent = $('#{{ widget }}');
                var inputs = $(parent).find('input');
                var select = $(parent).find('select');

                if (value === 'LOCKED') {
                    $(inputs).prop("readonly", true);
                    $(select).select2("readonly", true);
                    return;
                }

                if (value === 'RESET') {
                    $(inputs).prop("readonly", false);
                    $(select).select2("readonly", false);
                    return;
                }

                if (value === 'UPDATE') {
                    $(inputs).each(function () {
                        var locked = $(this).data('disabled') === 'data-disabled';
                        $(this).prop('readonly', locked)
                    })

                    $(select).each(function () {
                        var locked = $(this).data('disabled') === 'data-disabled';
                        $(this).select2('readonly', locked)
                    })

                }
                $(el).prop('disabled', false)
            }


            var contents = {
                LOCKED: '{{ locked | raw }}',
                UPDATE: '{{ update | raw }}',
                RESET: '{{ reset | raw }}',
            }

            var backgrounds = {
                LOCKED: 'gray',
                UPDATE: '#008d4c',
                RESET: 'red',
            }

            var wrapper = $("#{{ id }}-wrapper");
            var el = $('#{{ id }}')

            var popover = $(wrapper).popover({
                'title': 'Cuidado!',
                'html': true,
                'content': function () {
                    var key = $(el).val();
                    return contents[key];
                }
            });

            $(el).on('change', function () {
                toggle($(this))

                if ($(this).val() == 'LOCKED') {
                    $(popover).popover('hide')
                } else {
                    var key = $(el).val();
                    var background = backgrounds[key];

                    $(popover).popover('show')
                    var title = $(popover).siblings('.popover').find('h3.popover-title')
                    $(title).css({'background-color': background, 'color': 'white', 'font-size': '1.4em'})
                }
            })

            $(el).trigger('change')
        })
    </script>
{% endblock %}


{% block time_table_widget %}
    {% if form.locked is defined %}
        {{ form_row(form.locked, {widget: id ~ '-wrapper'}) }}
    {% endif %}

    <div id="{{ id }}-wrapper">
        <div class="col-md-12" style="margin-top: 5em">
            <legend class="control-label required">
                Calendario
            </legend>
        </div>
        <div class="col-md-4 col-md-offset-1">
            {{ form_row(form.start) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.end) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.schedule) }}
        </div>
    </div>

{% endblock %}


{% block units_definition_widget %}
    {% if form.locked is defined %}
        {{ form_row(form.locked, {widget: id ~ '-wrapper'}) }}
    {% endif %}

    <div id="{{ id }}-wrapper" class="row unit_definition">
        <div class="col-md-12 col-md-offset-1" style="margin-top: 3em">
            <legend class="control-label required">
                Habilidades
            </legend>
            {{ form_row(form.skills) }}
        </div>

        <div class="col-md-12">
            {{ form_row(form.terms) }}
        </div>

    </div>
{% endblock %}


{% block term_widget %}
    <div class="row" style="margin-top: 3em">
        {{ form_row(form.term) }}
        <div class="col-md-3">
            <legend class="control-label" style="margin: 1.2em 0 0 3.8em; font-size: 1.4em">
                {{ term.value }}:
            </legend>
        </div>
        <div class="col-md-3">
            {{ form_row(form.numOfUnits) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.weighOfUnits) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.weighOfExam) }}
        </div>
        {% if completedUnits is defined %}
            <div class="col-md-7 col-md-push-3">
                <p class="note">
                    {% if completedUnits == 1 %}
                        Este trimestre ya tiene <strong>una unidad evaluadas</strong>, que
                        <strong>NO</strong> se puede eliminar
                    {% else %}
                        Este trimestre ya tiene <strong>{{ completedUnits }} unidades
                        evaluadas</strong>, que <strong>NO</strong> se pueden eliminar
                    {% endif %}
                </p>
            </div>
        {% endif %}
    </div>

    <script>
        $(function () {
            var units = $('#{{ form.weighOfUnits.vars.id }}');
            var exam = $('#{{ form.weighOfExam.vars.id }}');

            $(units).on('keyup', function () {
                var value = $(this).val();

                if ($.isNumeric(value) && value >= 0 && value <= 100) {
                    $(exam).val(100 - value);
                    return;
                }

                $(exam).val('-');
            })

            $(units).trigger('keyup');
        })

    </script>

{% endblock %}


{% block term_has_marks_widget %}
    <table class="term_marks">
        <thead>
        <tr>
            <td class="student">Alumno</td>
            {% for unit in units %}
                <td>
                    {% set title = unit.name %}
                    {% set is_total = unit.isTotal %}

                    {% with {title: title, is_total: is_total } %}
                        {{ block('unit_header') }}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for student in form %}
            <tr>
                <td class="student">
                    {{ student.vars.student }}
                </td>
                {% for unit in student %}
                    <td>
                        {{ form_widget(unit) }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block unit_header %}
    <table class="unit_header">
        <thead>
        <tr>
            <td colspan="{{ skills |length }}">{{ title }}</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for key,skill in skills %}
                <td class="{{ skill | lower }}">{{ key }}</td>
            {% endfor %}

            {% if is_total %}
                <td class="average">F</td>
            {% endif %}

        </tr>
        </tbody>
    </table>
{% endblock %}

{% block unit_has_marks_widget %}
    <table class="unit_body">
        <tr>
            {% for name, mark in form %}
                {% set hasErrors = mark.vars.errors is not empty %}

                {% set tdClass = 'class='~name %}
                {% if hasErrors %}
                    {% set tdClass = 'class=error ' ~ name %}
                {% endif %}

                <td {{ tdClass }}>
                    {{ form_widget(mark) }}
                </td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}

{#{% block mark_widget %}#}
{#    {{form_widget(form)}}#}
{#{% endblock %}#}

{% block student_has_courses_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block course_has_students_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block teacher_has_courses_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block relatives_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block teachers_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block multiselect %}
    {{ form_widget(form) }}
    <script type="text/javascript">
        var select = document.getElementById("{{ id }}");

        multi(select, {
            non_selected_header: "Todos",
            selected_header: "Seleccionados"
        });
    </script>
{% endblock %}
