{% block job_widget %}

    <div class="col-md-4 no-padding">
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form.name) }}
    </div>

{% endblock %}


{% block city_address_widget %}

    <div class="col-md-8 no-padding">
        {{ form_row(form.city) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.province) }}
    </div>

{% endblock %}


{% block payment_widget %}

    <script>
        {% autoescape 'js' %}

        jQuery(function ($) {
            $('#sonata-ba-field-container-{{ id }}')
                .toggle_field({
                    hide_values: ['CASH'],
                    children: '.bank_account'
                })
        })
        {% endautoescape %}
    </script>

    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.mode, {legend: true}) }}
        </div>
    </div>

    <div class="row col-md-12 bank_account">
        {{ form_row(form.account, {legend: true}) }}
    </div>


{% endblock %}

{% block bank_account_widget %}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.titular) }}
        </div>
    </div>

    <legend>Nº de cuenta</legend>
    <div class="row">
        <div class="col-md-9">
            {{ form_row(form.iban) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.number) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.cityAddress) }}
        </div>
    </div>


{% endblock %}


{% block other_academy_widget %}

    <script>
        {% autoescape 'js' %}

        jQuery(function ($) {
            $('#sonata-ba-field-container-{{ id }}')
                .toggle_field({
                    hide_values: [''],
                    children: '.numOfYears'
                })
        })
        {% endautoescape %}
    </script>


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.academy) }}
        </div>

        <div class="col-md-6 numOfYears">
            {{ form_row(form.numOfYears) }}
        </div>
    </div>
{% endblock %}

{% block course_interval_widget %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.end) }}
        </div>

    </div>
{% endblock %}


{% block time_sheet_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.dayOfWeek) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.start) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.end) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.classroomId) }}
        </div>
    </div>
{% endblock %}

{% block attendance_widget %}
    <div class="row">
        <div class="col-md-3">
            <p class="fullName">{{ student.fullName }}</p>
        </div>
        <div class="col-md-1 missed">
            {{ form_row(form.missed) }}
        </div>

        <div class="col-md-3 reason">
            {{ form_row(form.reason) }}
        </div>

        <script>
            $(function () {
                var reason = $('#{{ form.reason.vars.id }}').parents('.form-group:first');

                $('#{{ form.missed.vars.id }}').change(function () {
                    if ($(this).prop('checked')) {
                        reason.show()
                    }
                    else {
                        reason.hide()
                    }
                })

                if ($('#{{ form.missed.vars.id }}').prop('checked')) {
                    reason.show()
                }
                else {
                    reason.hide()
                }
            })
        </script>

    </div>
{% endblock %}


{% block attendance_toggle_widget %}
    {% set checked = '' %}

    {% if value == "1" %}
        {% set checked = 'checked' %}
    {% endif %}

    <input id="{{ id }}" name="{{ full_name }}" {{ checked }} type="checkbox" data-toggle="toggle" data-on="Falta"
           data-off="Asiste"
           data-onstyle="danger" data-offstyle="success">

{% endblock %}

{% block toggle_widget %}
    {% set checked = '' %}

    {% if value == "1" %}
        {% set checked = 'checked' %}
    {% endif %}

    <input id="{{ id }}" name="{{ full_name }}" {{ checked }} type="checkbox" data-toggle="toggle"
           value="yes"
           data-on="{{ on_text }}"
           data-off="{{ off_text }}"
           data-onstyle="{{ on_style }}"
           data-offstyle="{{ off_style }}"
    >

{% endblock %}


{% block discount_widget %}
    <div class="row discount">
        <div class="col-md-3">
            <span class="status"> {{ status.value }} </span>
        </div>

        <div class="col-md-2">
            {{ form_row(form.discount) }}
        </div>

        <div class="col-md-7">
            {{ form_row(form.freeEnrollment) }}
        </div>
    </div>



{% endblock %}

{% block student_has_courses_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block course_has_students_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block relatives_widget %}
    {{ block('multiselect') }}
{% endblock %}

{% block teachers_widget %}
    {{ block('multiselect') }}
{% endblock %}



{% block multiselect %}
    {{ form_widget(form) }}
    <script type="text/javascript">
        var select = document.getElementById("{{ id }}");

        multi(select, {
            non_selected_header: "Todos",
            selected_header: "Seleccionados"
        });
    </script>
{% endblock %}

