{% extends 'admin/core/CRUD/edit.html.twig' %}

{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-12">
                <div class="box box-primary tab-content">
                    <div class="box-header">
                        <h4 class="box-title">
                            Observaciones
                        </h4>
                    </div>
                    <div class="box-body">
                        {{ block('issue') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block issue %}
    <div class="row">
        <div class="col-md-9">
            {{ form_row(form.subject) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.student) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.issueHasRecipients) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.message) }}
        </div>
    </div>
{% endblock %}
