{% extends 'admin/core/resume_column_base.html.twig' %}

{% use 'admin/attendance/attendance.html.twig' %}

{% block header %}
    {% set adminStudent = admin.configurationPool.adminByAdminCode('admin.student') %}

    <a href="{{ adminStudent.generateUrl('edit', {id:object.student.id}) }}">
        <strong>{{ object.student.fullName }}</strong>
    </a>
    <p>
        {{ object.description }}
    </p>
{% endblock %}

{% block body %}

    {{ block('register') }}
    {{ block('course') }}


{% endblock %}

{% block course %}
    {% set course =  object.course %}

    {% if course %}
        {% set adminCourse = admin.configurationPool.adminByAdminCode('admin.course') %}

        {% if adminCourse.hasAccess('edit', course) %}
            <p class="record-item">
                <span><strong>Curso: </strong></span>
                <a href="{{ adminCourse.generateUrl('edit', {id:course.id}) }}">{{ course.name }}</a>
            </p>

        {% else %}
            <p>
                <span><strong>Curso: </strong></span>
                {{ course.name }}
            </p>
        {% endif %}

    {% endif %}

{% endblock %}

{% block date %}

{% endblock %}

{% block register %}
    <p>
        <span>por</span>
        <strong>{{ object.createdBy.fullName.regular }}</strong>
        <span>el</span>
        <strong>{{ object.date.format('d/M/Y') }}</strong>
        <span>a las</span>
        <strong>{{ object.time.format('h:i') }}</strong>
    </p>

{% endblock %}
