{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.status.pending %}
        {{ block('pending') }}
    {% elseif object.status.active %}
        {{ block('active') }}
    {% else %}
        {{ block('finalized') }}
    {% endif %}

{% endblock %}


{% block pending %}
    <span class="label label-warning">{{ object.status.value }}</span>
{% endblock %}

{% block active %}
    <span class="label label-success">{{ object.status.value }}</span>
{% endblock %}

{% block finalized %}
    <span class="label label-danger">{{ object.status.value }}</span>
{% endblock %}
