{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.status.pending %}
        {{ block('pending') }}
    {% elseif object.status.active %}
        {{ block('active') }}
    {% else %}
        {{ block('finalized') }}
    {% endif %}

{% endblock %}


{% block pending %}
    <span class="btn btn-warning btn-disable">{{ object.status.value }}</span>
{% endblock %}

{% block active %}
    <span class="btn btn-success btn-disable">{{ object.status.value }}</span>
{% endblock %}

{% block finalized %}
    <span class="btn btn-danger btn-disable">{{ object.status.value }}</span>
{% endblock %}
