{% extends 'admin/course/list_of_courses.html.twig' %}

{% use 'admin/attendance/attendance.html.twig' %}

{% block field %}
    {% with {limit: 20, separator: ' '} %}
        {{ block('list_of_courses') }}
    {% endwith %}
{% endblock %}


{% block course %}
    {% set admin_staff = admin.configurationPool.adminByAdminCode('admin.staff_member') %}

    <div class="row">
        <div class="col-md-2">
            <a href="{{ admin_course.generateObjectUrl('edit', course) }}">{{ course.name }}</a>
        </div>

        {% if course.oneToOne == false %}
            <div class="col-md-3">
                {% set items = schedule.resume(course.schedule) %}
                {% for day, hour in items %}
                    {{ day }} &nbsp; ({{ hour }})
                    {% if loop.last == false %} <br/> {% endif %}

                {% endfor %}
            </div>
        {% endif %}

        <div class="col-md-3">
            {% if course.mainTeacher is  not null %}
                <a href="{{ admin_staff.generateObjectUrl('edit', course.mainTeacher) }}">
                    {{ course.mainTeacher.fullName }}
                </a>
            {% endif %}
        </div>

        <div class="col-md-3">
            {% with {'student': object, 'course':course, 'limit': 5} %}
                {{ block('attendance_sumary') }}
            {% endwith %}
        </div>
    </div>
{% endblock %}


