{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.alert.isAlert %}
        <span id="alert-{{ object.id }}" class="alert-msg fa fa-exclamation-triangle"></span>
    {% endif %}

    {% if object.termsOfUseImageRigths == false %}
        <span id="no-image-{{ object.id }}" class="alert-msg fa fa-user-secret"></span>
    {% endif %}

    <script type="application/javascript">
        $(function () {
            $('#alert-{{ object.id }}').popover({
                container: 'body',
                html: true,
                title: '<b>!Cuidado!</b>',
                content: "{{ object.alert.description | raw }}",
                trigger: 'hover'
            })

            $('#no-image-{{ object.id }}').popover({
                container: 'body',
                html: true,
                title: '<b>!Cuidado!</b>',
                content: "No ha aceptado los derechos de imagen",
                trigger: 'hover'
            })
        })
    </script>

{% endblock %}
