{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="planb_row">
        <a class="btn-arrow collapsed" data-toggle="collapse" href="#collapse-{{ object.id }}">
            <span class="fa fa-caret-up"></span>
        </a>

        <div class="resume">

            <div class="header">
                <a href="{{ admin.generateUrl('edit', {id:object.id}) }}"><strong>{{ object.fullName }}</strong></a>
            </div>

            <div id="collapse-{{ object.id }}" class="body collapse row">
                <div class="col-md-3">
                    {% for phoneNumber in object.phoneNumbers %}
                        <p class="phone">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span> {{ phoneNumber }} </span>
                            {% if phoneNumber.description %}
                                <span> ({{ phoneNumber.description }})</span>
                            {% endif %}
                        </p>
                    {% endfor %}

                </div>

                <div class="col-md-3">
                    {% for email in object.emails %}
                        <p class="mail">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span> {{ email }} </span>
                        </p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
