{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}


{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form get_admin_template('filter', admin.code) %}

        <div class="card card-filters">
            <form
                class="sonata-filter-form form-horizontal {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                <div class="card-body">
                    {{ form_errors(form) }}

                    {% set withAdvancedFilter = false %}
                    {% for filter in admin.datagrid.filters %}
                        <div class="form-group {% block sonata_list_filter_group_class %}{% endblock %}"
                             id="filter-{{ admin.uniqid }}-{{ filter.name }}"
                             sonata-filter="true">

                            <div class="col-sm-12">
                                <label for="{{ form[filter.formName].children['value'].vars.id }}"
                                       class="control-label">{{ filter.label|trans({}, filter.translationDomain ?: admin.translationDomain) }}</label>
                                {{ form_widget(form[filter.formName].children['value']) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="card-footer text-right">
                    <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                    {% set foo = form['_page'].setRendered() %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i aria-hidden="true"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}
                        </button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">
                            {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}
                        </a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}


{% block list_table %}
    <div class="card card-table">
        {% set batchactions = admin.batchactions %}

        {% if admin.hasRoute('batch') and batchactions|length %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST"><input
                type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            {% if admin.datagrid.results|length > 0 %}
                {{ block('table_header') }}
                <div class="card-body">
                    {{ block('table_body') }}
                </div>
            {% else %}
                <div class="card-body">
                    {{ block('no_result_content') }}
                </div>
            {% endif %}

            <div class="card-footer text-right">
                {{ block ('list_footer') }}
            </div>
            {% if admin.hasRoute('batch') and batchactions|length %}
        </form>
        {% endif %}
    </div>
{% endblock %}

{% block table_header %}
    <div class="datalist-header">
        <table class="table table-header table-bordered">
            <thead>
            <tr class="sonata-ba-list-field-header">
                {% if admin.list.elements['_collapsed'] is defined %}
                    <th style="width:30px;">
                        &nbsp;
                    </th>
                {% endif %}
                {% for field_description in admin.list.elements %}
                    {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                        <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                            <input type="checkbox" id="list_batch_checkbox">
                        </th>
                    {% elseif field_description.getOption('code') == '_select' %}
                        <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                    {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                        {#                        Action buttons disabled in ajax view!#}
                    {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                        {#                        Disable fields with 'ajax_hidden' option set to true#}
                    {% elseif field_description.name == '_collapsed' %}


                    {% else %}
                        {% set sortable = false %}
                        {% if field_description.options.sortable is defined and field_description.options.sortable %}
                            {% set sortable             = true %}
                            {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                            {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.name == sort_parameters.filter._sort_by %}
                            {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                            {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                        {% endif %}

                        {% apply spaceless %}
                            <th class="sonata-ba-list-field-header-{{ field_description.type }}{% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                                {% if sortable %}<a
                                    href="{{ admin.generateUrl('list', sort_parameters|merge({_list_mode: admin.getListMode()})) }}">{% endif %}
                                    {% if field_description.getOption('label_icon') %}
                                        <i class="sonata-ba-list-field-header-label-icon {{ field_description.getOption('label_icon') }}"
                                           aria-hidden="true"></i>
                                    {% endif %}
                                    {{ field_description.label|trans({}, field_description.translationDomain) }}
                                    {% if sortable %}</a>{% endif %}
                            </th>
                        {% endapply %}
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}


{% block table_body %}
    <div class="datalist">
        <table class="table table-bordered table-hover sonata-ba-list ">
            <tbody>
            {% include get_admin_template('outer_list_rows_' ~ admin.getListMode(), admin.code) %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block list_footer %}

    {% if admin.datagrid.results|length > 0 %}
        <div class="box-footer">
            <div class="form-inline clearfix">
                {% if not app.request.isXmlHttpRequest %}
                    <div class="pull-left">
                        {% if admin.hasRoute('batch') and batchactions|length > 0 %}
                            {% block batch %}
                                <script>
                                    {% block batch_javascript %}
                                    jQuery(document).ready(function ($) {
                                        // Toggle individual checkboxes when the batch checkbox is changed
                                        $('#list_batch_checkbox').on('ifChanged change', function () {
                                            var checkboxes = $(this)
                                                .closest('table')
                                                .find('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
                                            ;

                                            if (Admin.get_config('USE_ICHECK')) {
                                                checkboxes.iCheck($(this).is(':checked') ? 'check' : 'uncheck');
                                            } else {
                                                checkboxes.prop('checked', this.checked);
                                            }
                                        });

                                        // Add a CSS class to rows when they are selected
                                        $('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
                                            .on('ifChanged change', function () {
                                                $(this)
                                                    .closest('tr, div.sonata-ba-list-field-batch')
                                                    .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                ;
                                            })
                                            .trigger('ifChanged')
                                        ;
                                    });
                                    {% endblock %}
                                </script>

                            {% block batch_actions %}
                                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                    <input type="checkbox" name="all_elements"
                                           id="{{ admin.uniqid }}_all_elements">
                                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                    ({{ admin.datagrid.pager.nbresults }})
                                </label>

                                <select name="action" style="width: auto; height: auto"
                                        class="form-control">
                                    {% for action, options in batchactions %}
                                        <option
                                            value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                                    {% endfor %}
                                </select>
                            {% endblock %}

                                <input type="submit" class="btn btn-small btn-primary"
                                       value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                            {% endblock %}
                        {% endif %}
                    </div>


                    {% if admin.datagrid.pager.haveToPaginate() %}
                        <div class="pull-right">
                            {% include get_admin_template('pager_links', admin.code) %}
                        </div>
                    {% endif %}

                {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}


{% block sonata_admin_content_actions_wrappers %}

    {% set has_filters = sonata_has_filters(admin) %}

    <label class="show_filters">
        <input type="checkbox" checked="checked">
        <span>Ver Filtros</span>
    </label>

    <script type="application/javascript">
        $(function () {

            var has_filters = '{{ has_filters }}' !== '';
            var filters = $('.sonata-ba-list-filters');
            var table = $('.sonata-ba-list-table');

            var width = $(filters).width();
            var handler = $('.show_filters input');

            if (!has_filters) {
                $(handler).iCheck('uncheck');
                close(true);
            }

            $(handler).on('ifChecked', function (event) {
                open();
            });

            $(handler).on('ifUnchecked', function (event) {
                close();
            });


            function open() {

                $(filters).find('.card .card-body').show();
                $(filters).find('.card .card-footer').show();
                $(table).animate({"width": '-=' + width});
                $(filters).animate({"width": '+=' + width});
            }

            function close(no_animate = false) {

                $(filters).find('.card .card-body').hide();
                $(filters).find('.card .card-footer').hide();

                if (no_animate) {

                    $(filters).css({"width": '-=' + width});
                    $(table).css({"width": '+=' + width});
                } else {
                    $(filters).animate({"width": '-=' + width});
                    $(table).animate({"width": '+=' + width});
                }
            }
        });
    </script>




    {{ parent() }}

    {% set export_formats = export_formats|default(admin.exportFormats) %}
    <div class="nav navbar-nav navbar-right actions-navbar">
        {% if admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for format in export_formats %}
                        <li>
                            <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                <i class="fa fa-arrow-circle-o-down"
                                   aria-hidden="true"></i>
                                {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>



{% endblock sonata_admin_content_actions_wrappers %}


{% block no_result_content %}

    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! No hay resultados.</h3>

            <p>
                No hemos encontrado nada que coincida con estos criterios de busqueda<br/>
                Pruebe con otros o vuelva al <a href="{{ path('sonata_admin_dashboard') }}">escritorio</a> para seguir
                trabajando
            </p>

            {#            <form class="search-form">#}
            {#                <div class="input-group">#}
            {#                    <input type="text" name="search" class="form-control" placeholder="Search">#}

            {#                    <div class="input-group-btn">#}
            {#                        <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>#}
            {#                        </button>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </form>#}
        </div>
    </div>

{% endblock %}
